  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"> 
        <button class="back btn" routerLinkActive="active" routerLink="/trip-match" ><span class="glyphicon glyphicon-arrow-left"></span></button>
      </div>
      <div class="col-md-10">
        <h3 style="text-align: center">Trip Details</h3>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  
  <div class="container">  
    <div class="col-md-6">
      <h2><b>Driver</b></h2> 
      <h2 id='name'><img id="profile-picture" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png">  
      Elmo</h2> 
      <ul class="list-group">
        <li class="list-group-item"><a href="www.facebook.com/signup">Facebook</a></li>
        <li class="list-group-item">Ratings:
            <mat-slider min="1" max="5" disabled  step="0.5" value="4.5"></mat-slider>
        </li>
        <ul>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Safe Driver <span class="badge badge-primary badge-pill">4</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Comfortable Car <span class="badge badge-primary badge-pill">6</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Good Conversation <span class="badge badge-primary badge-pill">1</span>
          </li>
        </ul>
      </ul>  
    </div>
    <div class="col-md-6">
      <h2><b>Details</b></h2> 
      <div class="panel panel-default">
        <div class="panel-body">
         <h4>Destination: <span class='city'>Orlando</span></h4>
          <h4>Departure: Gainesville</h4>
        <h4>Departure Time: <span id='time'>3:30 PM</span></h4>
        <h4>Number of available seats: 2</h4>
        <h4>Status: Available</h4>
          <h4>Price: <span id='price'>$25</span></h4>
        </div>
      </div>
    </div>
  </div>
<div class="col-md-12">
    <button type="button" class="btn btn-warning rsvp btn-lg center-block" data-toggle="modal" data-target="#myModal">RSVP</button>
</div>
    
    
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">RSVP Confirmed!</h4>
        </div>
        <div class="modal-body">
          <p>Destination: <span class='city'>Orlando</span><br>Date: <span id='date'>3/20/2019</span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
