<nav *ngIf="router.url != '/'" class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLinkActive="active" routerLink="/profile">GatorPool</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-item nav-link" routerLinkActive="active" routerLink="/new-trip">New Trip</a></li>
        <li><a class="nav-item nav-link" routerLinkActive="active" routerLink="/profile">Profile</a></li>
        <li><a class="nav-item nav-link" routerLinkActive="active" routerLink="/">Logout</a></li>
      </ul>
    </div>
</nav>
    

  