<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
<div class='container'>
  <h2>When is your trip?</h2>
  <!-- <input #box (keyup)="onKey(box.value)">
  <p>{{values}}</p> -->

  <div class="row">
    <div class="form-group top">
        <label for="name" class="col-md-2">Departure Date: </label>
        <div class="col-md-3">
            <div id="date" class="input-group date" data-provide="datepicker">
                <input #user_date type="text" class="form-control" placeholder="MM/DD/YYYY" id="tripDate">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group top">
        <label for="name" class="col-md-2">Destination: </label>
        <div class="col-md-3">

            <input #dest_city type="text" class="form-control" name="destination" id="dest_city" placeholder="City"><p>{{value}}</p>
        </div>
        <div class="col-md-1">
            <input #dest_state type="text" class="form-control" name="destination" id="dest_state" placeholder="FL">
        </div>
    </div>
  </div>
  <h2>I am a:</h2>
  <div class="row">
    <div class="col-md-2 ">
        <a (click)="onClickDrive(dest_city.value, dest_state.value, user_date.value)" routerLinkActive="active" routerLink="/new-driver" id="driver_btn"><div class="panel panel-default ">
            <div class="panel-body home-panel text-center">
              <h2 class="h2-top">Driver</h2>
              <i class="fa fa-car" aria-hidden="true"></i>
            </div>
        </div></a>
    </div>
    <div class="col-md-2 ">
        <a (click)="onClickRide(dest_city.value, dest_state.value, user_date.value)" routerLinkActive="active" routerLink="/trip-match"><div class="panel panel-default ">
            <div class="panel-body home-panel text-center">
              <h2 class="h2-top">Rider</h2>
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
          </div></a>
    </div>
  </div>
</div>


