<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
<div class='container'>
  <h2>When is your trip?</h2>
  <div class="row">
    <div class="form-group top">
        <label for="name" class="col-md-2">Departure Date: </label>
        <div class="col-md-3">
            <div id="date" class="input-group date" data-provide="datepicker">
                <input type="text" class="form-control" placeholder="MM/DD/YYYY">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group top">
        <label for="name" class="col-md-2">Destination: </label>
        <div class="col-md-3">
            <input type="text" class="form-control" name="destination" id="dest_state" placeholder="City">
        </div>
        <div class="col-md-1">
            <input type="text" class="form-control" name="destination" id="dest_state" placeholder="State">
        </div>
    </div>
  </div>
  <h2>I am a:</h2>
  <div class="row">
    <div class="col-md-2 ">
        <a routerLinkActive="active" routerLink="/new-driver"><div class="panel panel-default ">
            <div class="panel-body home-panel text-center">
              <h2 class="h2-top">Driver</h2>
              <i class="fa fa-car" aria-hidden="true"></i>
            </div>
        </div></a>
    </div>
    <div class="col-md-2 ">
        <a routerLinkActive="active" routerLink="/trip-match"><div class="panel panel-default ">
            <div class="panel-body home-panel text-center">
              <h2 class="h2-top">Rider</h2>
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
          </div></a>
    </div>
  </div>
</div>


