<div class="container-fluid">
  	<div class="row">
  		<div class="col-md-1"> 
  			<button class="back btn" routerLinkActive="active" routerLink="/profile" >&laquo; Back</button>
  		</div>
  		<div class="col-md-11">
  			<h3 style="text-align: center">Your Drive to (CITY)</h3>
  		</div>
  	</div>
  
  	<br>

  	<div class="row">
  		<div class="col-md-1"></div>
  		<div class="col-md-4 panel panel-default">
  			<h4>2/3 Seats Filled</h4>
  			<ol class="list-group panel-body">
  				<li><div class="list-group-item"><a routerLinkActive="active" routerLink="/rider-profile"><img src="avi.png">Passenger Name</a></div></li>
  				<li><div class="list-group-item"><a routerLinkActive="active" routerLink="/rider-profile"><img src="avi.png">Passenger Name</a></div></li>
  				<li><div class="list-group-item">AVAILABLE</div></li>
  				
  			</ol>
  		</div>
  		<div class="col-md-2"></div>
  		<div class="col-md-4 panel panel-default">
  			<h4>Potential Riders</h4>
  			<ol class="list-group panel-body">
  				<li>
  					<div class="list-group-item">
  						<a routerLinkActive="active" routerLink="/rider-profile"><img src="avi.png">Passenger Name</a>
  						<div class="buttons">
  							<button class="btn btn-success">Add</button>
  							<button class="btn btn-danger">Deny</button>
  						</div>
  					</div>
  				</li>
  				<li>
  					<div class="list-group-item">
  						<a routerLinkActive="active" routerLink="/rider-profile"><img src="avi.png">Passenger Name</a>
  						<div class="buttons">
  							<button class="btn btn-success">Add</button>
  							<button class="btn btn-danger">Deny</button>
  						</div>
  					</div>
  				</li>
  			</ol>
  		</div>
      <div class="col-md-1"></div>
  	</div>

  	<br>

  	<div class="row">
      <div class="col-sm-1"></div>
  		<div class="col-md-4 panel panel-default">
        <div class="panel-body">
    			<h3>Trip Details</h3>
    			<p>Date: MM/DD/YYYY</p>
    			<p>Time: HH:MM</p>
    			<p>Price: $$</p>
        </div>
  		</div>
  		<div class="col-md-3"></div>
  		<div class="col-md-3 caution-div">
  			<button class="btn btn-warning">
          <h3><span class="glyphicon glyphicon-alert"></span><br>Cancel Trip</h3>
        </button>
  		</div>
      <div class="col-md-1"></div>
  	</div>
  </div>

  	