<div class="container-fluid">
  	<div class="row">
  		<div class="col-md-1"> 
  			<button class="back btn" routerLinkActive="active" routerLink="/profile" ><span class="glyphicon glyphicon-arrow-left"></span></button>
  		</div>
  		<div class="col-md-11">
  			<h3 style="text-align: center">Your Drive to <span id="target-dest"></span></h3>
  		</div>
  	</div>
  
  	<br>

  	<div class="row">
  		<div class="col-md-1"></div>
  		<div class="col-md-4 panel panel-default">
  			<h4><span id="target-seat"></span> Seats Filled</h4>
  			<ol class="list-group panel-body">
  				<li><div class="list-group-item"><a routerLinkActive="active" routerLink="/accepted-rider"><img src="avi.png">Passenger Name</a></div></li>
  				<li><div class="list-group-item"><a routerLinkActive="active" routerLink="/accepted-rider"><img src="avi.png">Passenger Name</a></div></li>
  				<li><div class="list-group-item">AVAILABLE</div></li>
  				
  			</ol>
  		</div>
  		<div class="col-md-2"></div>
  		<div class="col-md-4 panel panel-default">
  			<h4>Potential Riders</h4>
  			<ol class="list-group panel-body">
  				<li>
  					<div class="list-group-item" id="pass1" ng-show="this.isVisible">
  						<a routerLinkActive="active" routerLink="/rider-profile"><img src="avi.png">Passenger Name</a>
  						<div class="buttons">
  							<button class="btn btn-success">Add</button>
  							<button class="btn btn-danger" ng-click="ShowHide()">Deny</button>
  						</div>
  					</div>
  				</li>
  				<li>
  					<div class="list-group-item" id="pass2">
  						<a routerLinkActive="active" routerLink="/rider-profile"><img src="avi.png">Passenger Name</a>
  						<div class="buttons">
  							<button class="btn btn-success">Add</button>
  							<button class="btn btn-danger">Deny</button>
  						</div>
  					</div>
  				</li>
  			</ol>
  		</div>
      <div class="col-md-1"></div>
  	</div>

  	<br>

  	<div class="row">
      <div class="col-sm-1"></div>
  		<div class="col-md-4 panel panel-default">
        <div class="panel-body">
    			<h3>Trip Details</h3>
    			<p>Date: <span id="target-date"></span></p>
    			<p>Time: <span id="target-time"></span></p>
    			<p>Price: $20</p>
        </div>
  		</div>
  		<div class="col-md-3"></div>
  		<div class="col-md-3 caution-div">
  			<button class="btn btn-warning" data-toggle="modal" data-target="#myModal" >
          <h3><span class="glyphicon glyphicon-alert"></span><br>Cancel Trip</h3>
        </button>
  		</div>
      <div class="col-md-1"></div>
  	</div>
	</div>
	
	<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
			
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Trip Cancelled</h4>
					</div>
					<div class="modal-body">
						<p>Your trip has been cancelled</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"  data-dismiss="modal" routerLinkActive="active" routerLink="/profile">Close</button>
					</div>
				</div>
				
			</div>
		</div>