

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"> 

        <button class="back btn" routerLinkActive="active" routerLink="/trip-form" ><span class="glyphicon glyphicon-arrow-left"></span></button>

      </div>
      <div class="col-md-10">
        <h3 style="text-align: center">  </h3>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  
<div class="container">
  <h2>Matching Rides</h2>
    <h4>From: Gainseville To: <span class='dest_city'>Orlando</span> On: <span class='trip_date'>3/20/2019</span></h4>
                                                                                  
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Driver</th>
        <th>Name</th>
        <th>Departure Time</th>
        <th>Price</th>
        <th>Details</th>
        <th>RSVP</th>
      </tr>
    </thead>
    <tbody>
    <!--Person1-->
      <tr>
        <td>
            <img id="profile-picture" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"> 
        </td>
        <td class='name'>Anna</td>
        <td class='time'>3:00 PM</td>
        <td class='price'>$20</td>
        <td>
            <button type="button" class="btn btn-info details" routerLinkActive="active" routerLink="/trip-details">Details</button>  
        </td>
        <td>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">RSVP</button>
        </td>
      </tr>
    
     <!--Person2-->
      <tr>
        <td>
            <img id="profile-picture" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"> 
        </td>
        <td class='name'>Sid</td>
        <td class='time'>2:00 PM</td>
        <td class='price'>$30</td>
        <td>
            <button type="button" class="btn btn-info details" routerLinkActive="active" routerLink="/trip-details">Details</button>  
        </td>
        <td>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">RSVP</button>
        </td>
      </tr>
        
     <!--Person3-->
      <tr>
        <td>
            <img id="profile-picture" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"> 
        </td>
        <td class='name'>Elmo</td>
        <td class='time'>3:30 PM</td>
        <td class='price'>$25</td>
        <td>
            <button type="button" class="btn btn-info details" routerLinkActive="active" routerLink="/trip-details">Details</button>
        </td>
        <td>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">RSVP</button>
        </td>
      </tr>
        
     <!-- Person4 -->
      <tr>
        <td>
            <img id="profile-picture" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"> 
        </td>
        <td class='name'>Roger</td>
        <td class='time'>12:00 PM</td>
        <td class='price'>$20</td>
        <td>
            <button type="button" class="btn btn-info details" routerLinkActive="active" routerLink="/trip-details">Details</button>  
        </td>
        <td>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">RSVP</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
    

<div class="col-md-3">
   
</div>      
<div class="col-md-4">
    <h4>Want to get notified if more matching drivers become available?</h4> 
</div>    
<div class="col-md-3">
    <button type="button" class="btn btn-success btn-lg " data-toggle="modal" data-target="#myModal2">Notify me!</button>
</div>
    
    
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">RSVP Confirmed!</h4>
        </div>
        <div class="modal-body">
          <p>Destination: <span class='dest_city'></span><br>Date: <span class='trip_date'></span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        
        <div class="modal-body">
          <p>Notifications will be sent to your UFL email</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

