<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"> 
      <button class="back btn" routerLinkActive="active" routerLink="/profile" ><span class="glyphicon glyphicon-arrow-left"></span></button>
    </div>
    <div class="col-md-10">
      <h3 style="text-align: center">Potential Trip with NAME</h3>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="container">  
  <div class="col-md-6">
    <h2><b>Driver</b></h2> 
    <h2><img id="profile-picture" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png">  
    Name</h2> 
    <ul class="list-group">
      <li class="list-group-item"><a href="www.facebook.com/signup">Facebook</a></li>
      <li class="list-group-item">Ratings:</li>
      <ul>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Safe Driver <span class="badge badge-primary badge-pill">4</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Comfortable Car <span class="badge badge-primary badge-pill">6</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Good Conversation <span class="badge badge-primary badge-pill">1</span>
        </li>
      </ul>
    </ul>  
  </div>
  <div class="col-md-6">
    <h2><b>Details</b></h2> 
    <div class="panel panel-default">
      <h4>Departure: XX</h4>
      <h4>Destination: XX</h4>
      <h4>Departure Time: HH:MM</h4>
      <h4>Number of available seats: n</h4>
      <h4>Status: XX</h4>
    </div>
  </div>
</div>
