<div class="container">
    <div class="col-md-1"> 
  			<button class="back btn" routerLinkActive="active" routerLink="/profile" ><span class="glyphicon glyphicon-arrow-left"></span></button>
  		</div>
  <div class="page-header">
    <h1>Your Trip to <b>{{dest_city}}</b> on <b>{{trip_date}}</b></h1>      
  </div>
  <h2>{{trip_driver}}</h2>

  <ul>
    <li>Driving: 
        <mat-slider
        class = "tp-margin"
        [thumbLabel] = "thumbLabel"     
        [vertical] = "vertical">
       </mat-slider>
    </li>
    <li>Politeness:
        <mat-slider
        class = "tp-margin"
        [thumbLabel] = "thumbLabel"     
        [vertical] = "vertical">
       </mat-slider>
    </li>
    <li>Punctuality:
        <mat-slider
        class = "tp-margin"
        [thumbLabel] = "thumbLabel"     
        [vertical] = "vertical">
       </mat-slider>
    </li>
    <li>Cleanliness: 
        <mat-slider
        class = "tp-margin"
        [thumbLabel] = "thumbLabel"     
        [vertical] = "vertical">
       </mat-slider>
    </li>
  </ul> 

  <h2>{{other_rider_1}}</h2>
  <ul>
    <li>Politeness:
        <mat-slider
        class = "tp-margin"
        [thumbLabel] = "thumbLabel"     
        [vertical] = "vertical">
       </mat-slider>
      </li>
      <li>Punctuality:
          <mat-slider
          class = "tp-margin"
          [thumbLabel] = "thumbLabel"     
          [vertical] = "vertical">
         </mat-slider>
      </li>
      <li>Cleanliness: 
          <mat-slider
          class = "tp-margin"
          [thumbLabel] = "thumbLabel"     
          [vertical] = "vertical">
         </mat-slider>
      </li>
  </ul> 

  <h2>{{other_rider_2}}</h2>
  <ul>
    <li>Politeness:
        <mat-slider
        class = "tp-margin"
        >
       </mat-slider>
      </li>
      <li>Punctuality:
          <mat-slider
          class = "tp-margin"
          [thumbLabel] = "thumbLabel"     
          [vertical] = "vertical">
         </mat-slider>
      </li>
      <li>Cleanliness: 
          <mat-slider
          class = "tp-margin"
          [thumbLabel] = "thumbLabel"     
          [vertical] = "vertical">
         </mat-slider>
      </li>
  </ul> 
  <button class="btn btn-default" routerLinkActive="active" routerLink="/profile">Submit</button>
</div>
<div class="footer">

</div>