<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-header">
        <h1 class="text-center">GatorPool</h1>
    </div>
    <h2>Complete Sign-Up:</h2>
    <div class="row">
      <div class="form-group col-md-8">
          <div class="d-flex flex-column">
              <label class="control-label">Name:</label>
              <input id="name" type="text" class="form-control" >
          </div>
      </div>
    </div> 
    <div class="row">
      <div class="form-group col-md-8">
          <div class="d-flex flex-column">
              <label class="control-label">UFL Email:</label>
              <div class="input-group">
                <input id='email' type="text" class="form-control" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">@ufl.edu</span>
              </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
          <div class="d-flex flex-column">
              <label class="control-label">Phone Number:</label>
              <input id='phone' type="text" class="form-control" id="phone" placeholder="012-345-6789">
          </div>
      </div>
    </div>  
    <div class="row">
        <div class="btn top">
          <a routerLinkActive="active" routerLink="/profile"><button disabled id="signup" type="button" class="btn btn-primary">Sign Up</button></a>
        </div>
      </div>   
  </div>
</div>
