<div class="container">
    
    <div class="col-md-6"> 
        <button class="btn btn default" routerLinkActive="active" routerLink="/trip-page">
          <span class="glyphicon glyphicon-arrow-left"></span>  
        </button>
        <h1><img id="profile-picture" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png">  
        Name</h1> 
        <ul class="list-group">
          <li class="list-group-item"><a href="http://www.facebook.com/signup">Facebook</a></li>
          <li class="list-group-item">Ratings: <mat-slider min="1" max="5" disabled  step="0.5" value="4"></mat-slider> </li>
          <ul>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Safe Driver <span class="badge badge-primary badge-pill">4</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Comfortable Car <span class="badge badge-primary badge-pill">6</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Good Conversation <span class="badge badge-primary badge-pill">1</span>
            </li>
          </ul>
          
      </ul>  
    </div>
  </div>
