<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"> 
      <button class="back btn" routerLinkActive="active" routerLink="/profile" ><span class="glyphicon glyphicon-arrow-left"></span></button>
    </div>
    <div class="col-md-10">
      <h3 style="text-align: center">Potential Trips</h3>
      <h4 style="text-align: center">on <span id='date'>11/11/2019</span> from Gainesville to <span id='city'>Orlando</span><br><br></h4>
      <!-- <h4>RSVP sent to:</h4> -->
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10"><h4>RSVP sent to:</h4></div>
  </div>
</div>

<div class="container-fluid">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="table-responsive panel panel-default">
      <table class="table">
        <tr>
          <th>Time</th>
          <th>Driver</th>
          <th>Status</th>
          <th></th>
        </tr>
        <tr class="bg-warning">
          <td id='rsvp_time'>3:00 PM</td>
          <td id='rsvp_name'>Lebron James</td>
          <td>Pending</td>
          <td><button class="btn" routerLinkActive="active" routerLink="/view-post">View Post</button></td>
        </tr>
        <!--
        <tr class="bg-danger">
          <td>3:00 PM</td>
          <td>Michael Jordan</td>
          <td>Denied</td>
          <td><button class="btn" routerLinkActive="active" routerLink="/view-post">View Post</button></td>
        </tr>
        <tr class="bg-warning">
          <td>4:00 PM</td>
          <td>Kevin Durant</td>
          <td>Pending</td>
          <td><button class="btn" routerLinkActive="active" routerLink="/view-post">View Post</button></td>
        </tr>
        <tr class="bg-warning">
          <td>4:30 PM</td>
          <td>Steph Curry</td>
          <td>Pending</td>
          <td><button class="btn" routerLinkActive="active" routerLink="/view-post">View Post</button></td>
        </tr>
      -->
     </table>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>