<div class='container'>
  <h2><a class="dark" (click)="go_back()"><i id="back" class="fa fa-arrow-left" aria-hidden="true"></i></a> Trip Details</h2>
  <div class="row">
    <div class="form-group top">
        <label for="name" class="col-md-2">Departure Time: </label>
        <div class="col-md-1">
            <input type="text" class="form-control" name="time_hr" id="time_hr" placeholder="Hour">
        </div>
        <div class="col-md-1">
            <input type="text" class="form-control" name="time_min" id="time_min" placeholder="Minute">
        </div>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default">AM</button>
          <button type="button" class="btn btn-default">PM</button>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="form-group top">
          <label for="name" class="col-md-2">Seats Available: </label>
          <div class="col-md-1">
              <input type="text" class="form-control" name="seats" id="seats" placeholder="">
          </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group top">
          <label for="name" class="col-md-2">Price: </label>
          <div class="col-md-1">
              <input type="text" class="form-control" name="price" id="price" placeholder="">
          </div>
      </div>
    </div>
    <div class="row">
        <div class="form-group top">
            <label for="name" class="col-md-2">Driver's License Number: </label>
            <div class="col-md-3">
                <input type="text" class="form-control" name="license" id="license" placeholder="">
            </div>
        </div>
    </div>
    <div class="row">
      <div class="btn top">
        <a routerLinkActive="active" routerLink="/profile"><button type="button" class="btn btn-lg btn-primary">Post My Drive</button></a>
      </div>
    </div>    
</div>
